fastapi
sqlmodel
uvicorn
alembic
pyJWT
bcrypt
passlib
pydantic[email]
psycopg2-binary 
python-dotenv
boto
cryptography
aiomysql
python-jose[cryptography]
sqlalchemy[asyncio]
pydantic-settings
python-multipart